#root .Profile {
    &__header {
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 40px;

        &:after {
            position: absolute;
            display: block;
            content: '';
            width: 200vw;
            margin-left: -100vw;
            height: 1px;
            bottom: -20px;
            left: 0;
            background-color: #bbb;
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        &:hover {
            .Profile__image-upload {
                opacity: 1;
                visibility: visible;
            }
        } 

        &-upload {
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 50%;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all .2s ease-in-out;
        }

        input {
            display: none;
        }
    }

    &__info {
        margin-left: 50px;

        @media screen and (max-width: 768px) {
            margin-left: 0;
            margin: 20px 0;
        }
    }

    &__username {
        font-weight: 700;
        font-size: 50px;
        text-align: center;

        &::first-letter {
            text-transform: uppercase;
        }

        span {
            color: #979797;

            @media screen and (max-width: 576px) {
                display: block;
            }
        }

        .ant-skeleton-element .ant-skeleton-input {
            height: 70px;
            margin-bottom: 10px;
            width: 300px;
            font-size: 50px;
        }

        @media screen and (max-width: 1200px) {
            font-size: 36px;
        }

        @media screen and (max-width: 768px) {
            margin-bottom: 15px;
        }

        @media screen and (max-width: 576px) {
            font-size: 24px;
        }
    }

    &__actions {
        @media screen and (max-width: 768px) {
            display: flex;
            justify-content: center;
        }
    }

    &__action:not(:last-child) {
        margin-right: 20px;
    }

    &__data {
        display: flex;
        justify-content: space-between;

        .ant-menu {
            width: 220px;

            @media screen and (min-width: 993px) {
                height: 400px;
            }
        }

        @media screen and (max-width: 992px) {
            flex-direction: column;
            justify-content: flex-start;

            .ant-menu {
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }

    &__form {
        width: 75%;

        @media screen and (max-width: 992px) {
            width: 100%;
        }

        .phone-label label {
            width: 100%;
        }

        .col {
            width: 100%;

            h2 {
                margin-bottom: 20px;
                color: #979797;
                font-weight: 700;
            }
        }

        .ant-skeleton-element {
            width: 100%;
            margin-bottom: 30px;
        }

        .ant-form-item-required {
            width: 100%;
        }

        .verification-label {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .verify-link {
            padding: 0;
            height: auto;
        }

        .verify-tooltip {
            display: flex;
            align-items: center;
        }

        .verified-text {
            color: #52c41a;
            margin: 0;
            height: auto;
        }
    }
}

.ant-modal-root {
    .modal-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .verified-modal {
        display: flex;
        flex-direction: column;
    
        &-success {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 40px;
        }
    
        .ant-form-item {
            margin-top: 15px;
        }
    
        .ant-form-item-control {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .verify-link {
            padding: 0;
        }
    
        input {
            width: 120px;
            font-size: 20px;
            letter-spacing: 3px;
            text-align: center;
        }
    
        .ant-form-item-explain-error {
            text-align: center;
        }
    }    
}

body.dark #root .Profile {
    &__header {
        &:after {
            background-color: #555;
        }
    }
}

.ant-form-item {
    position: relative;
}

.change-theme-animation.active {
    position: absolute;
    left: 50px;
    top: 15px;
    width: 1px;
    height: 1px;
    background-color: #222;
    border-radius: 50%;

    &.dark {
        animation: changeToDark 1.5s;
    }

    &.light {
        animation: changeToLight 1.5s;
    }
}

@keyframes changeToDark {
    0% {
        box-shadow: 0px 0px 0 #222;
    }

    50% {
        box-shadow: 0px 0px 150vh 150vh #222;
    }

    70% {
        box-shadow: 0px 0px 0 #22222200;
    }

    100% {
        box-shadow: 0px 0px 0 #22222200;
    }
}

@keyframes changeToLight {
    0% {
        box-shadow: 0px 0px 0 #fff;
    }

    50% {
        box-shadow: 0px 0px 150vh 150vh #fff;
    }

    70% {
        box-shadow: 0px 0px 0 #ffffff00;
    }

    100% {
        box-shadow: 0px 0px 0 #ffffff00;
    }
}

@media screen and (orientation: landscape) {
    @keyframes changeToDark {
        0% {
            box-shadow: 0px 0px 0 #222;
        }
    
        50% {
            box-shadow: 0px 0px 100vw 100vw #222;
        }
    
        70% {
            box-shadow: 0px 0px 0 #22222200;
        }
    
        100% {
            box-shadow: 0px 0px 0 #22222200;
        }
    }

    @keyframes changeToLight {
        0% {
            box-shadow: 0px 0px 0 #fff;
        }
    
        50% {
            box-shadow: 0px 0px 150vw 150vw #fff;
        }
    
        70% {
            box-shadow: 0px 0px 0 #ffffff00;
        }
    
        100% {
            box-shadow: 0px 0px 0 #ffffff00;
        }
    }
}